---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head></head>
	<div>
		<h1>{SITE_TITLE}</h1>
		<h2>{SITE_DESCRIPTION}</h2>
		<p>Es funktioniert.</p>
	</div>

</html>
